@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.legend-label {
    font-size: 1.5em; /* Set the font size */
}
.radar-cont {
	margin-top: 6vh;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
}

/* Style the navbar */
.navbar {
	overflow: hidden;
	background-color: #333;
}

/* Navbar links */
.navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
}

/* Change color on hover */
.navbar a:hover {
	background-color: #ddd;
	color: black;
}

/* Active/current link */
.navbar a.active {
	background-color: #666;
	color: white;
}

html,
body {
	height: 100%;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

body {
	display: table;
	height: 100%;
	width: 100%;
	text-align: center;
	background: #181818;
	color: #e4e4ef;
}

a {
	font-kerning: normal;
	font-family: 'Cantarell', sans-serif;
	font-size: 25px;
	color: #73c936;
	text-decoration: none;
}

h1 {
	font-family: 'Cantarell', sans-serif;
	font-size: 50px;
	margin-bottom: 15px;
}

h2 {
	font-family: 'Cantarell', sans-serif;
	font-size: 30px;
	margin-bottom: 10px;
	margin-top: 0px;
}

.white {
	color: #e4e4ef;
}

.green {
	color: #73c936;
}

.country {
	fill: #ccc;
	stroke: #999;
	stroke-width: 0.1px;
}

.reset-button {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 10px;
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	cursor: pointer;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	font-weight: 300;
	fill: #242424;
	text-align: center;
	cursor: default;
}

.legend {
	font-family: 'Raleway', sans-serif;
	fill: white;
}

.tooltip {
	fill: white;
}

.selection {
	max-height: 500px;
	width: 15rem;
	display: flex;
	flex-direction: column;
	float: left;
	background-color: #2B2B2B;
	padding: 0.5rem 1rem;
	margin-bottom: 1rem;
	border: 0.15rem solid lightgray;
	border-radius: 1rem;
	overflow-y: scroll;
	text-align: center;
	margin-right: 1em;
}

label {
	font-size: 1.5em;
}
